<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- TITLE -->
    <title>
        {% if page.title == "Home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">

    {% if page.title == "Home" %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/home.css">
    {% else %}
        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto+Slab&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-16.png" sizes="16x316">
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-96.png" sizes="96x96">
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-128.png" sizes="128x128">
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-144.png" sizes="144x144">
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-192.png" sizes="192x192">
    <link rel="icon" href="{{site.url}}/assets/favicon/favicon-228.png" sizes="228x228">

    <link rel="shortcut icon" sizes="196x196" href=“{{site.url}}/assets/favicon/android-home-icon-196.png">

    <link rel="apple-touch-icon" href="{{site.url}}/assets/favicon/apple-touch-icon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="{{site.url}}/assets/favicon/apple-touch-icon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="{{site.url}}/assets/favicon/apple-touch-icon-180.png" sizes="180x180">

</head>