body {
  background-color: $background;
}

h1 {
  font-size: 1.75em;
}

header {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background-color: $background;
  position: relative;
  z-index: 20;
  width: $full;
  height: $header-height;
}

header h1 {
  margin: 0;
  font-family: $serif;
  font-weight: $normal;
  text-align: center;
  color: $foreground;
}

.content-wrapper {
  padding: 0 1em;
}

// Content
.content {
  font-family: $serif;
  padding: 16px;
}

.content h1 {
  color: $content-foreground;
  font-weight: $normal;
}

.section-title {
  font-family: $sans-serif;
}

@include all-phones {
  .content {
    padding: 4px;
  }
}

// Cards
.card-list {
  list-style: none;
  padding: 0;
  width: $full;
}

.card-list a {
  text-decoration: none;
}

.card {
  color: $nav-foreground;
  fill: $nav-foreground;
  background-color: $card-background;
  padding: 7px 14px;
  border-radius: 20px;
  margin-bottom: 1em;
  box-shadow: $card-shadow;
}

.card-title {
  font-size: 1.5em;
}

.card-date {
  font-family: $sans-serif;
  font-size: 14px;
  color: lighten($nav-foreground, 10%);
}

.card-description {
  line-height: 1.5;
  max-height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: $full;
}

.card-title, .card-date, .read-post {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-flex-align {
  display: flex;
  height: 24px;
  width: $full;
}

.read-post {
  font-size: 14px;
  font-family: $sans-serif;
  margin: auto;
  margin-right: 8px;
  color: $primary;
}

.card-flex-align .card-date {
  margin: auto auto auto 0;
}

.card-flex-align svg {
  fill: $primary;
}

@media (min-width: 700px) {
  .card-list {
    column-count: 2;
  }
}

@media (min-width: #{$phone-width}) and (max-width: #{700px - 1px}) {
  .card-4 {
    display: none;
  }
}

@include all-phones {
  .card-3, .card-4 {
    display: none;
  }
}

// Buttons
.button {
  font-family: $sans-serif;
  text-decoration: none;
  color: $button-foreground;
  background-color: $button-background;
  padding: 7px 14px;
  border-radius: 100px;
  display: inline-block;
  transition: $box-shadow-transition;
}

.button-container-right {
  text-align: right;
}

.button:hover {
  color: $button-foreground;
}

// Media Queries
@include all-phones {
  body {
    padding-bottom: $bottom-nav-height + 1em;
  }
}

@include desktop {
  header {
    display: none;
  }
  body {
    padding-top: $desktop-top-nav-height;
  }
}

@include xl {
  .wrapper, .nav-wrapper {
    padding-left: 50%;
    margin-left: -512px;
    width: $xl;
  }
}