// Content
@include home {
  .content {
    font-family: $serif;
  }
}

// Header Modifications
header {
  background-color: $transparent;
}

header h1 {
 color: $background;
}

@include home {
  .subheader-background {
    z-index: 0;
    top: $subheader-top-margin;
    left: 0;
    position: absolute;
    height: $subheader-height + $header-height;
    width: $full;
    background: $primary;
    box-shadow: $primary-content-shadow;
  }

  .subheader {
    position: relative;
    display: flex;
    height: $subheader-height;
    width: $full;
    top: $subheader-top-margin;
  }

  .subheader h1 {
    position: relative;
    z-index: 1;
    font-family: $serif;
    font-weight: $normal;
    color: $nav-selected-bg;
    width: 140px;
    margin: auto auto auto 16px;
  }

  .subheader img {
    width: $subheader-height - 32px;
    height: $subheader-height - 32px;
    box-shadow: $main-content-shadow-light;
    border-radius: 75px;
    margin: auto 16px auto auto;
  }
}

// Header Modifications Top Nav
.top-nav {
  transition: $home-nav-anim;
  background: $primary;
}

.top-nav ul li.active {
  animation: $nav-selected-fadein-home;
  transition: background-color linear 300ms;
}

.top-nav ul li a {
  color: $nav-selected-bg;
}

.top-nav ul li:hover a {
  color: $background;
}

.top-nav ul li.active:hover a {
  color: $primary;
}

.top-nav ul li.active:hover {
  background-color: $background;
}

.top-nav ul li:hover a {
  color: $background;
}

.top-nav ul li.active:hover a {
  color: $primary;
}

.top-nav ul li.active:hover {
  background-color: $nav-selected-bg;
}

.scroll-top-home {
  background-color: $background;
}

.scroll-top-home ul li a {
  color: $nav-foreground;
}

.scroll-top-home ul li:hover a {
  color: $primary;
}

// Header Modifications Tablet View
@include tablet {
  header {
    transition: $home-nav-anim;
    background-color: $primary;
  }

  .scroll-top-home-header {
    background-color: $background;
  }

  @include home {
    .subheader-background {
      height: $subheader-height + $header-height + 54px;
    }

    .subheader {
      top: -16px;
    }
  }
}

// Header Modifications Desktop View
.desktop-top-nav h1 {
  transition: $hover-anim;
  color: $background;
}

.desktop-top-nav.scroll-top-home h1 {
  color: $foreground;
}

@include desktop {
  header {
    background-color: $primary;
  }

  @include home {
    .subheader-background {
      height: $subheader-height + $desktop-top-nav-height;
    }

    .subheader {
      top: -16px;
    }
  }
}

// Skills
.subheader-skills {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $nav-selected-bg;
}

.subheader-skills svg {
  position: relative;
  text-align: center;
  font-family: $serif;
  padding-right: 8px;
  fill: $nav-selected-bg;
}

.subheader-skills a {
  height: 24px;
}

@include all-phones {
  .subheader-skills {
    height: 48px;
    width: 100%;
    left: 0;
    margin-top: -19px;
    background-color: $secondary;
    box-shadow: $secondary-content-shadow;
    border-top: 1px solid lighten($secondary, 20%);
  }

  .subheader-skills svg {
    padding-right: 16px;
  }

  .content {
    margin-top: 42px;
  }
}

@include tablet {
  .subheader-skills {
    top: $subheader-height;
    right: 136px;
    margin-top: $subheader-top-margin;
    height: $subheader-height;
  }
}

@include desktop {
  .subheader-skills {
    top: $desktop-top-nav-height;
    right: 136px;
    margin-top: $subheader-top-margin;
    height: $subheader-height;
  }
}

@include xl {
  .subheader-skills {
    left: 50%;
    margin-left: -512px;
    top: $desktop-top-nav-height;
    width: $xl;
    margin-top: $subheader-top-margin;
    height: $subheader-height;
    justify-content: right;
  }
  .spacer {
    height: 24px;
    width: 136px;
  }
}