// Navigation
nav {
  z-index: 10;
  background-color: $background;
}

nav ul {
  font-family: $sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

nav ul li a {
  text-decoration: none;
  color: $nav-foreground;
  transition: $hover-anim;
}

nav ul li {
  text-align: center;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
}

nav ul li:hover a {
  color: $primary;
}

nav ul li.active {
  background: $nav-selected-bg;
  animation: $nav-selected-fadein;
}

nav ul li.active a {
  color: $primary;
}

// Tablet Navigation
.tablet-top-nav {
  position: sticky;
  top: 0;
  margin-top: -8px;
  height: $tablet-top-nav-height;
  width: $full;
  box-shadow: $hide-top-nav-shadow;
  transition: $box-shadow-anim;
}

// Desktop Navigation
.desktop-top-nav {
  display: flex;
  position: fixed;
  width: $full;
  height: $desktop-top-nav-height;
  box-shadow: $hide-top-nav-shadow;
  transition: $box-shadow-anim;
}

.desktop-top-nav ul {
  width: 310px;
}

.desktop-top-nav h1 {
  padding-left: 30px;
  width: calc(100% - 352px);
  font-family: $serif;
  font-weight: $normal;
  color: $foreground;
}

.scroll-top {
  box-shadow: $top-nav-shadow;
}

// Mobile Navigation
.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  height: $bottom-nav-height;
  width: $full;
  box-shadow: $bottom-nav-shadow;
}

// Media Queries
@include small-phone {
  .mobile-bottom-nav ul li {
    padding: 6px 12px 6px 12px;
  }

  .mobile-bottom-nav ul li a {
    font-size: 0.75em;
  }
}

@include all-phones {
  .tablet-top-nav {
    display: none;
  }
  .desktop-top-nav {
    display: none;
  }
}

@include tablet {
  .mobile-bottom-nav {
    display: none;
  }
  .desktop-top-nav {
    display: none;
  }
}

@include desktop {
  .tablet-top-nav {
    display: none;
  }
  .mobile-bottom-nav {
    display: none;
  }
}