// Base Colours
$primary: #6ccff6;
$secondary: #2a2d34;
$background: #fbfbfb;
$foreground: #040f16;

// UI Colours
$transparent: rgba(255, 255, 255, 0);
$nav-foreground: lighten(desaturate($foreground, 80%), 50%);
$nav-selected-bg: rgba($primary, 0.1);
$content-foreground: lighten(desaturate($foreground, 80%), 30%);
$content-foreground-light: rgba($background, 0.9);
$content-foreground-lighter: rgba($background, 0.85);
$button-background: rgba($primary, 0.1);
$button-foreground: $primary;
$card-background: darken($background, 0.5%);

// Fonts
$serif: "Roboto Slab", serif;
$sans-serif: 'Fira Sans', sans-serif;
$base-font-size: 1.0em;
$normal: 400;
$bold: 700;

// Sizes
$bottom-nav-height: 3.34em;
$tablet-top-nav-height: $bottom-nav-height;
$header-height: 70px;
$subheader-height: 120px;
$subheader-top-margin: -((70px - 32.2px) / 2);
$desktop-top-nav-height: $header-height;
$full: 100%;

// Shadows
$bottom-nav-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
$hide-top-nav-shadow: 0px -20px 18px 0px rgba(0, 0, 0, 0.3);
$top-nav-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.3);
$top-nav-shadow-light: 0px 4px 18px 0px rgba(255, 255, 255, 0.3);
$main-content-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
$main-content-shadow-light: 0px 2px 12px 0px rgba(255, 255, 255, 0.3);
$primary-content-shadow: 0px 2px 4px 0px rgba($primary, 0.5);
$secondary-content-shadow: 0px 2px 4px 0px rgba($secondary, 0.5);
$card-shadow: 0px 1px 2px 0px rgba($foreground, 0.1);

// Gradients
@mixin gradient-background($color) {
  background: $color;
  background: linear-gradient(140deg, $color 0%, lighten($color, 10%) 30%, lighten($color, 25%) 100%);
}
// Transitions
@keyframes bg_to_selected {
  from {background-color: $background;}
  to {background-color: $nav-selected-bg;}
}
@keyframes bg_to_selected_home {
  from {background-color: $transparent;}
  to {background-color: $content-foreground-lighter;}
}
$nav-selected-fadein: bg_to_selected 700ms;
$nav-selected-fadein-home: bg_to_selected_home 1s;
$background-transition: background-color linear 300ms;
$hover-transition: color linear 300ms;
$home-nav-transition: background-color linear 200ms, box-shadow linear 250ms;
$box-shadow-transition: box-shadow linear 250ms;

// Rules
@mixin home {
  .home {
    @content;
  }
}