<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <body>

        <!-- HEADER / NAVIGATION -->

        {%- include header.html -%}
        {%- include nav_bottom.html -%}
        {%- include tablet_nav_top.html -%}
        {%- include desktop_nav_top.html -%}

        <!-- PAGE CONTENT -->

        <div class="wrapper">

            {{ content }}

        </div>

        <!-- FOOTER -->

        {%- include footer.html -%}

        <!-- SCRIPTS -->
        <script src="{{ site.url }}/js/scroll-boxshadow.js"></script>

    </body>

</html>