---
layout: base
---
<!-- subheader -->
<div class="subheader-background"></div>

<div class="subheader">
    <h1>

        {{ page.subtitle }}

    </h1>

    <img src="{{ site.url }}{{ page.portrait_rel }}">
</div>

<div class="subheader-skills">
    <a href="{{ site.url }}/about/#skills">
        {%- include svg/cpp.html -%}
        {%- include svg/java.html -%}
        {%- include svg/python.html -%}
        {%- include svg/javascript.html -%}
        {%- include svg/dots-horizontal.html -%}
    </a>
    <div class="spacer"></div>
</div>

<!-- content -->
<div class="content">

    {{ content }}

</div>

<!-- scripts -->
<script src="{{ site.url }}/assets/js/sticky-scroll-style-home.js"></script>